<% @all.each do |user| %>
    <div class="users">
        <div class="row">

            <div class="col-12 user">
                <%= link_to profile_picture(user, 30), profile_path(user.username) %>
                <%= link_to user.username, profile_path(user.username), class: "text-dark" %>
                    <%= form_tag follow_user_path, method: :post, class: "float-right" do %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= submit_tag "Follow", class: 'btn btn-outline-success btn-sm' %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>