<div class="container">
    <div class="row">
        <div class="col-8">
            <% @posts.each do |post| %>
                <div>
                    <%= post.user.username %>
                </div>
                <%= image_tag post.image.url, class: "img img-fluid" %>
            
            <div>
            <%= post.description %>
            </div>
            
<%= render "posts/comments", post: post %>
<div>
<%= form_for @comment do |f| %>
<%= f.hidden_field :post_id, value: post.id %>
<%= f.text_field :comment, placeholder: "Add comment here" %>
<%= f.submit "Comment", class: "btn btn-success float-right" %>
<% end %>
</div>

            <div>

            </div>
            <% end %>
        </div>
                    <%= link_to "View All", "#" %>
            <p>Users of Minstagram</p>
            <%= render "users/all" %>
    </div>
</div>