
<div class="container">
<div>
    <%# <%= image_tag @user.image.url %>
</div>
    <h1> <%= @user.full_name %> </h1>
    <%= link_to "Edit", edit_user_registration_path, class: 'nav-link' if can_edit?(@user.id) %>
</div>
<%= @user.posts.count %> posts
<%= @user.total_followers %> followers
<%= @user.total_following %> following

<%# <div>
<%= image_tag post.image.url %>
<%# </div> %>
